<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro">
	<select id="selectDataAll" parameterType="hashmap" resultType="dto">
		select * from membertab
		<where>
			<if test="search != null">
			id like '%' #{search} '%'
			</if>
		</where>
	</select>
	
	<!-- 재사용 가능한 구문은 별도 작성 -->
	<sql id="my1">select id, name, password, regdate</sql>
	<sql id="my2">from membertab where id = #{id}</sql>
	
	<select id="selectDataById" parameterType="string" resultType="dto" statementType="PREPARED">
		<include refid="my1"/>
		<include refid="my2"/>
	</select>

	<insert id="insertData" parameterType="dto"><!-- 원래는 폼빈 -->
		insert into membertab values(#{id},#{name},#{password},now())
	</insert>

	<update id="updateData" parameterType="dto">
		update membertab set name=#{name} where id=#{id}
	</update>

	<delete id="deleteData" parameterType="int">
		delete <include refid="my2"/>
	</delete>
</mapper>