<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Pro">
 <select id="findBuser" resultType="net.mvc.model.BuserDto">
 	 select * from buser
 </select>
 <select id="listSawon" resultType="net.mvc.model.SawonDto" parameterType="string">
 	 select * from sawon where buser_num = #{buser_num}
 </select>
 <select id="listGogek" resultType="net.mvc.model.GogekDto" parameterType="string">
 	select * from sawon inner join gogek on sawon_no = gogek_damsano where buser_num = #{buser_num}
 </select>
 
 </mapper>