@charset "utf-8";


.fl{float:left} .fr{float:right}
/* 컨텐츠정렬관련 */
.al {text-align:left !important;} .ac {text-align:center !important;} .ar {text-align:right !important;}
.vtm{vertical-align:middle;}

/* 커서 */
.cursor {cursor:pointer;}

/* 마진 */
.m_5{margin:5px}
.m_10{margin:10px}
.m_15{margin:15px}
.m_20{margin:20px}
.m_25{margin:25px}
.m_30{margin:30px}

.m_t_5{margin-top:5px}
.m_t_10{margin-top:10px}
.m_t_15{margin-top:15px}
.m_t_20{margin-top:20px}
.m_t_25{margin-top:25px}
.m_t_30{margin-top:30px}
.m_t_35{margin-top:35px}
.m_t_40{margin-top:40px}
.m_t_45{margin-top:45px}
.m_t_50{margin-top:50px}
.m_t_80{margin-top:80px}
.m_t_60{margin-top:60px !important;}

.m_r_3{margin-right:3px}
.m_r_5{margin-right:5px}
.m_r_10{margin-right:10px}
.m_r_15{margin-right:15px}
.m_r_20{margin-right:20px}
.m_r_25{margin-right:25px}
.m_r_30{margin-right:30px}
.m_r_40{margin-right:40px}

.m_b_5{margin-bottom:5px}
.m_b_10{margin-bottom:10px}
.m_b_15{margin-bottom:15px}
.m_b_20{margin-bottom:20px}
.m_b_25{margin-bottom:25px}
.m_b_30{margin-bottom:30px}
.m_b_40{margin-bottom:40px}
.m_b_50{margin-bottom:40px}

.m_l_5{margin-left:5px}
.m_l_10{margin-left:10px}
.m_l_15{margin-left:15px}
.m_l_20{margin-left:20px}
.m_l_25{margin-left:25px}
.m_l_30{margin-left:30px}

.m_tb_5{margin:5px 0}
.m_tb_10{margin:10px 0}
.m_tb_15{margin:15px 0}
.m_tb_20{margin:20px 0}
.m_tb_25{margin:25px 0}
.m_tb_30{margin:30px 0}

.m_lr_3{margin:0 3px}
.m_lr_5{margin:0 5px}
.m_lr_10{margin:0 10px}
.m_lr_15{margin:0 15px}
.m_lr_20{margin:0 20px}
.m_lr_25{margin:0 25px}
.m_lr_30{margin:0 30px}

/* 패딩 */
.p_5{padding:5px}
.p_10{padding:10px}
.p_15{padding:15px}
.p_20{padding:20px}
.p_25{padding:25px}
.p_30{padding:30px}

.p_t_5{padding-top:5px}
.p_t_10{padding-top:10px}
.p_t_15{padding-top:15px}
.p_t_20{padding-top:20px}
.p_t_25{padding-top:25px}
.p_t_30{padding-top:30px}
.p_t_40{padding-top:40px}

.p_r_5{padding-right:5px}
.p_r_10{padding-right:10px}
.p_r_15{padding-right:15px}
.p_r_20{padding-right:20px}
.p_r_25{padding-right:25px}
.p_r_30{padding-right:30px}

.p_b_5{padding-bottom:5px}
.p_b_10{padding-bottom:10px}
.p_b_15{padding-bottom:15px}
.p_b_20{padding-bottom:20px !important; }
.p_b_25{padding-bottom:25px}
.p_b_30{padding-bottom:30px}

.p_l_5{padding-left:5px}
.p_l_10{padding-left:10px}
.p_l_15{padding-left:15px}
.p_l_20{padding-left:20px}
.p_l_25{padding-left:25px}
.p_l_30{padding-left:30px}
.p_l_40{padding-left:40px}

.p_tb_5{padding:5px 0}
.p_tb_10{padding:10px 0}
.p_tb_15{padding:15px 0}
.p_tb_20{padding:20px 0}
.p_tb_25{padding:25px 0}
.p_tb_30{padding:30px 0}

.p_lr_5{padding:0 5px}
.p_lr_10{padding:0 10px}
.p_lr_15{padding:0 15px}
.p_lr_20{padding:0 20px}
.p_lr_25{padding:0 25px}
.p_lr_30{padding:0 30px}